.vscode
.vscode-test
.vscode-test.*
node_modules
src
openspec
.atl
.claude
.git
.gitignore
.gitattributes
.yarnrc
.eslintrc
eslint.config.mjs
.vscodeignore
tsconfig.json
tsconfig*.json
**/*.ts
**/.mocharc*
**/.vscode-test.*
package-lock.json
pnpm-lock.yaml
yarn.lock
*.vsix
esbuild.js
.mocharc.json
vsc-extension-quickstart.md
